* {
  color: white;
  margin: 0px;
  padding: 0px;
  color: #9b9d15;
  background: rgb(65, 65, 65);
}

.president,
.officers,
.officers h2,
.officers span,
.officers h3,
.officer-position,
.header,
section.header h1,
.officers img,
.header img {
  background: rgb(46, 52, 69);
}

.president,
.about,
.header,
.officers,
.partners,
.partner {
  text-align: center;
}

.nav {
  display: block;
}

.header {
  font-size: 24px;
  font-weight: bold;
}

.header img {
  border-radius: 0%;
  margin-top: 5px;
}

section.header h1 {
  color: rgb(156, 169, 196);
  padding-top: 15px;
  margin: auto;
}
.about {
  padding-top: 10px;
}

.about img {
  padding-top: 50px;
  width: 500px;
  height: 300px;
  border-radius: 0px;
}

.mission {
  padding: 10px;
}

.president img {
  width: 300px;
}

.officers {
  padding: 25px 0;
}

.officers h2,
.officers span,
.officers h3 {
  padding: 10px 0;
  color: rgb(156, 169, 196);
}

.officer-position {
  float: left;
  width: 33.3333%;
  padding-bottom: 10px;
}

.officer-position img {
  padding-top: 10px;
  width: 200px;
}

section .partners {
  padding-top: 20px;
  padding-bottom: 10px;
}

.partners {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
}

.partner {
  padding-top: 20px;
  padding-bottom: 10px;
  width: 33.3333%;
  float: left;
}

.partner img {
  width: 166px;
  padding-bottom: 5px;
}

img {
  border-radius: 50%;
}

section {
  border: 1px solid white;
}

.tradingview-widget-container {
  padding-top: 15px;
  margin: auto;
  display: inline-block;
}

@media screen and (max-width: 650px) {
  .officer-position {
    width: 100%;
  }

  .partner {
    width: 50%;
  }

  .president img,
  .officer-position img {
    width: 166px;
  }
}
